/* -------------------------- */

/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

/* Header ---------------------------------------------------------- */
.contenedor-header {
    background-image: url(img/bg-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 650px;
}

.bar-nav {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-head {

    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-nav {

    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

.options-nav a {
    text-decoration: none;
    color: white;
    font-size: 13px;

}

.options-nav a:hover {
    color: rgb(53, 219, 198);
    font-weight: bold;
}

.txt-header {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.txt-header-conten {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.txt-header-conten hr {
    width: 6%;
    border-bottom: 1px solid rgb(53, 219, 198);
    margin-top: -5px;
}

.boton-header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-header a {
    width: 15%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(53, 219, 198);
    font-weight: bold;
    border-top: 2px solid rgb(53, 219, 198);
    border-bottom: 2px solid rgb(53, 219, 198);
    border-left: 2px solid rgb(53, 219, 198);
    border-right: 2px solid rgb(53, 219, 198);
    border-radius: 5px;
}

.boton-header a:hover {
    background: rgb(53, 219, 198);
    color: white;
}


.ciculos-head {

    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caja-circulos {
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caja-circulos ul {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;

}

.caja-circulos li {
    width: 12px;
    height: 10px;
    background: transparent;
    list-style: none;
    margin: 0px 15px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    border: 1px solid white;
}

.caja-circulos li:hover {
    background: rgb(53, 219, 198);
}

/* section 1 .......................... */

.container-sec1 {

    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
}

.container-caja1-sec1 {

    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.piramide-log {

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 7%;
}

.our-story {
    width: 50%;
    height: 80%;
}

.our-story p {
    color: rgb(110, 107, 114);
    font-size: 14px;
}

.boton-header-sec1 a {
    width: 145px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(53, 219, 198);
    font-weight: bold;
    border-top: 2px solid rgb(53, 219, 198);
    border-bottom: 2px solid rgb(53, 219, 198);
    border-left: 2px solid rgb(53, 219, 198);
    border-right: 2px solid rgb(53, 219, 198);
    border-radius: 5px;
}

.boton-header-sec1 a:hover {
    background: rgb(53, 219, 198);
    color: white;
}

/* Section 2 ............................................ */

.container-sec2 {

    /* background:linear-gradient( to left top,
      rgba(26, 17, 48, 0.6), 
      rgba(25, 2, 75, 0.45),
      rgba(21, 9, 51, 0.103)
      ), url(img/video_fon.png); ; */
    background: url(img/team-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.watch i {
    font-size: 110px;
    font-weight: inherit;
    color: white;
    cursor: pointer;
}

.watch p {
    color: white;
    font-size: 17px;
}

/* Section 3 ....................................................... */

.container-sec3 {

    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-sec3 {

    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-3 {

    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.caja-title3 {

    width: 50%;
    height: 100%;
    text-align: center;
}

.caja-title3 h2 {
    color: rgb(49, 46, 58);
    font-weight: inherit;
}

.caja-title3 p {
    color: rgb(101, 100, 104);
}

.caja-title3 hr {
    width: 12%;
    border-bottom: 1px solid rgb(185, 183, 190);
}

.galer-exper1 {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
}

.galer-exper2 {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: row;
}

.card1 {

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.img-card {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.img-txt {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(101, 100, 104);

}

.img-txt h4 {
    color: rgb(49, 46, 58);
}

.card2 {

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
}

.card3 {

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card4 {

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
}

.card5 {

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
}

.card6 {

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}

/* Section 4 ---------------------------------------------------------- */

.container-sec4 {

    background: linear-gradient(to left top,
            rgba(58, 3, 80, 0.7),
            rgba(47, 2, 73, 0.7),
            rgba(42, 3, 82, 0.8)), url(img/part_3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.caja-sec4 {

    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-4 {

    width: 60%;
    height: 150px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title-4 h2 {
    margin: 0px 0px;
    padding: 0px 0px;
}

.title-4 hr {
    width: 10%;
    color: grey;
}

.galeria-team {

    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-galeria {

    width: 22%;
    height: 100%;

}

.img-galer {
    background: white;
    width: 100%;
    height: 70%;
    padding-right: 1.5px;
}

.txt-galer {

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(125, 123, 141);
    font-size: 13px;
    border-right: 1px solid rgb(125, 123, 141);
    border-left: 1px solid rgb(125, 123, 141);
    border-bottom: 1px solid rgb(125, 123, 141);


}

.txt-galer h4 {
    margin: 0px;
    color: white;
    font-size: 14px;
    font-weight: inherit;
}

.boton-team {

    width: 60%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.boton-team-caja {

    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.boton-team-caja a {
    width: 25%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(53, 219, 198);
    font-weight: bold;
    border-top: 1px solid rgb(53, 219, 198);
    border-bottom: 1px solid rgb(53, 219, 198);
    border-left: 1px solid rgb(53, 219, 198);
    border-right: 1px solid rgb(53, 219, 198);
    border-radius: 5px;
    font-size: 14px;
}

.boton-team-caja a:hover {
    background: rgb(53, 219, 198);
    color: white;
}

/* Section 5 .......................................... */

.container-sec5 {

    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fila1 {

    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.our {

    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: inherit;
    font-size: 15px;
}

.see {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: rgb(167, 167, 167);
    cursor: pointer;
}

.fila2 {

    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.cuadros-arriba {

    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.scuare1 {
    background: rgb(167, 167, 167);
    width: 16.66%;
    height: 100%;
}

.scuare2 {
    background: rgb(156, 156, 156);
    width: 16.66%;
    height: 100%;
}

.scuare3 {
    background: rgb(144, 144, 144);
    width: 16.66%;
    height: 100%;
}

.scuare4 {
    background: rgb(119, 119, 119);
    width: 16.66%;
    height: 100%;
}

.scuare5 {
    background: rgb(167, 167, 167);
    width: 16.66%;
    height: 100%;
}

.scuare6 {
    background: rgb(147, 147, 147);
    width: 16.66%;
    height: 100%;
}


.fila3 {

    width: 60%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 6 .......................................... */

.container-sec6 {
    background-image: url(img/bg-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;

}

.cajita-sec6 {

    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comillas {

    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo-sec6 {

    width: 100%;
    height: 30%;
    color: white;
    text-align: center;
}

.txt-sec6 {

    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: inherit;
    justify-content: center;
}

.txt-sec6 p {
    font-size: 13px;
}

.txt-sec6 h4 {
    margin: 0px;
}


.div-fotos-team {

    width: 80%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.icons {

    width: 10%;
    height: 60%;
    font-size: 30px;
    font-weight: inherit;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotos-caja-team {

    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.foto1 {

    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto1 img {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.foto2 {

    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto2 img {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.foto3 {

    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto3 img {
    width: 90%;
    height: 90%;
    cursor: pointer;
}

.foto4 {

    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto4 img {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.foto5 {

    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto5 img {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

/* Sec7 ............................................................... */

.container-sec7 {

    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.cajita-sec7 {

    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.caja-login {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titulo-login {
    width: 100%;
    height: 20%;
    font-size: 19px;
    display: flex;
    align-items: flex-end;
}

.formulario {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.espacio-formulario {
    width: 100%;
    height: 15%;
}

.espacio-formulario2 {
    width: 100%;
    height: 50%;
}

#nombre {
    width: 350px;
    height: 30px;
    border: 1px solid rgb(223, 223, 223);
    color: rgb(160, 159, 164);
    padding-left: 15px;
}

#correo {
    width: 350px;
    height: 30px;
    border: 1px solid rgb(223, 223, 223);
    color: rgb(160, 159, 164);
    padding-left: 15px;
}

#asunto {
    width: 350px;
    height: 30px;
    border: 1px solid rgb(223, 223, 223);
    color: rgb(160, 159, 164);
    padding-left: 15px;
}

#opinion {
    width: 350px;
    height: 140px;
    border: 1px solid rgb(223, 223, 223);
    color: rgb(160, 159, 164);
    padding-left: 15px;
}

.boton-envio {

    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#envio {
    background: transparent;
    color: rgb(53, 219, 198);
    width: 25%;
    height: 35px;
    border-radius: 4px;
    border-color: rgb(53, 219, 198);
}

#envio:hover {
    background: rgb(53, 219, 198);
    color: white;
    cursor: pointer;
}


.caja-marcas {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inter-square-marc {

    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.caja-iz {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-caja {

    width: 100%;
    height: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.caja-iz img {
    width: 50%;
    height: 50%;
}

/* Footer ---------------------------------------------------------- */

.container-footer {
    background: url(img/footer-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-container-footer {

    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.footer-iz {

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.super-cajita-footer {

    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;

}

.loguito-tajam {

    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
}

.loguito-tajam img {
    width: 40%;
    height: auto;
}


.parrafito-footer {

    width: 100%;
    height: 50%;
    color: white;
    font-size: 14px;
}

.help {

    width: 100%;
    height: 25%;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.help a {
    color: white;
    text-decoration: none;
}

.footer-cen {
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-footer {
    width: 100%;
    height: 25%;
    color: white;
}

.direction-footer {

    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.icon-direction {

    width: 10%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.txt-direction {

    width: 90%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 14px;
}

.telefonos {

    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.txt-direction2 {

    width: 90%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.txt-direction2 p {
    margin: 0;
    font-size: 14px;
}

.footer-de {

    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-arr {

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#suscri {
    width: 180px;
    height: 35px;
    border: 1px solid rgb(223, 223, 223);
    color: rgb(160, 159, 164);
    font-size: 13px;
    text-align: center;
}

.input-arr img {
    height: 35px;
    width: auto;
    cursor: pointer;
}

.sociales {

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-icon {

    width: 16.66%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon-caja {

    width: 60%;
    height: 50%;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-caja .fab {
    color: white;

}

.icon-caja .fab:hover {
    color: rgb(34, 221, 81);
    cursor: pointer;
}

.copy {

    width: 100%;
    height: 35%;
    color: white;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

.copy p {
    margin: 0;
}
